\/\*
 \* This Source Code Form is subject to the terms of the Mozilla Public
 \* License, v\. 2\.0\. If a copy of the MPL was not distributed with this
 \* file, You can obtain one at https:\/\/mozilla\.org\/MPL\/2\.0\/\.
 \*
 \* Copyright \(c\) (\d{4})(?:-(\d{4}))? ([A-Za-z0-9 ,.]*)(
 \*
 \* Parts of this software are licensed under the MIT license
 \*
 \* Copyright \(c\) (\d{4}),? ([A-Za-z0-9ğş ,.]*))?
 \*\/