<?xml version="1.0" encoding="utf-8"?>
<!--
    This software is licensed under the MIT license

    Copyright (c) 2022, Javier Carbone, author Michael Prommersberger
    Additions and modifications, author Matthias Emde
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.practicetime.practicetime">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".PracticeTime"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticeTime">

        <service
            android:name=".services.SessionForegroundService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.RecorderService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone" />

        <activity
            android:name=".ui.intro.AppIntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.statistics.GoalStatsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.statistics.SessionStatsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.goals.ArchivedGoalsActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.goals.ProgressUpdateActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.sessionlist.FullscreenSessionActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.activesession.ActiveSessionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.overflowitems.AboutActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.overflowitems.DonationsActivity"
            android:exported="false"
            android:parentActivityName=".ui.overflowitems.AboutActivity" />
        <activity
            android:name=".ui.overflowitems.HelpActivity"
            android:exported="false"
            android:parentActivityName=".ui.overflowitems.AboutActivity" />
        <activity
            android:name=".ui.overflowitems.LegalActivity"
            android:exported="false"
            android:parentActivityName=".ui.overflowitems.AboutActivity" />
        <activity
            android:name=".ui.overflowitems.AboutAppActivity"
            android:exported="false"
            android:parentActivityName=".ui.overflowitems.AboutActivity" />
        <activity
            android:name=".ui.overflowitems.LicenseActivity"
            android:exported="false"
            android:parentActivityName=".ui.overflowitems.AboutActivity" />
    </application>

</manifest>
