<?xml version="1.0" encoding="utf-8"?>
<!--
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at https://mozilla.org/MPL/2.0/.

    Copyright (c) 2022 Matthias Emde

    Parts of this software are licensed under the MIT license

    Copyright (c) 2022, Javier Carbone, author Michael Prommersberger
    Additions and modifications, author Matthias Emde
-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="app.musikus.Musikus"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticeTime">

        <service
            android:name=".services.SessionService"
            android:foregroundServiceType="specialUse"
            android:exported="false">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value=
                    "This service is used to track the user's time
                    during an active practice session
                    as well as show an accompanying notification." />
        <service
            android:name=".services.MetronomeService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
        />
        <service
            android:name=".services.RecorderService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone"
        />

        <activity
            android:name=".ui.intro.AppIntroActivity"
            android:exported="false"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.activesession.ActiveSessionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="musikus" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.overflowitems.AboutActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.overflowitems.DonationsActivity"
            android:exported="false"
            android:parentActivityName=".ui.overflowitems.AboutActivity" />
        <activity
            android:name=".ui.overflowitems.HelpActivity"
            android:exported="false"
            android:parentActivityName=".ui.overflowitems.AboutActivity" />
        <activity
            android:name=".ui.overflowitems.LegalActivity"
            android:exported="false"
            android:parentActivityName=".ui.overflowitems.AboutActivity" />
        <activity
            android:name=".ui.overflowitems.AboutAppActivity"
            android:exported="false"
            android:parentActivityName=".ui.overflowitems.AboutActivity" />
        <activity
            android:name=".ui.overflowitems.LicenseActivity"
            android:exported="false"
            android:parentActivityName=".ui.overflowitems.AboutActivity" />
    </application>

</manifest>